@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;

}

/*Start Shared Style */
.btn-primary {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.title-description {
  text-align: center;
  opacity: 0.7;
  color: rgb(13, 19, 33);
}

/* End of Shared Style */

/* Start nav style */

.nav-container {
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.nav-title {
  font-weight: 800;
  font-size: 38;
  color: rgb(13, 19, 33);
}

/* End nav style */

/* Start Banner style */
.banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  height: 520px;
  background-size: cover;
}

.banner-container {
  display: flex;
  max-width: 920px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.banner-title {
  font-size: 48px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  text-align: center;
}

.banner-description {
  text-align: center;
  opacity: 0.7;
  color: rgb(13, 19, 33);
}

.banner-button {
  background-color: rgb(30, 30, 30);
  color: white;
  opacity: 100%;

}

/* End Banner style */

/* Start Web Development style */

.web-dev {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 80px 95px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.web-dev-title {
  margin-bottom: 20px;
}

.web-dev-heading {
  padding: 0 45px 45px 45px;
}

.web-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.linear-gradient {
  background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.web-item-description {
  text-align: left;
}

.web-item-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 20px;
}

.web-item-btn {
  padding: 12px 20px;
  border: 1px solid rgb(41, 45, 54);
  opacity: 0.7;
  margin-top: 28px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* End Web Development style */

/* Start Inspiration section style */
.inspiration{
  max-width: 1070px;
  margin: 0 auto;
  margin-top: 50px;
}
.insp-title{
  margin-bottom: 20px;
}
.videos{
  padding: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1070px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.videos source{
  border-radius: 10px;
}

/* End Inspiration section style */

